body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar h1 {
  color: #0e1011;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  position: absolute;
  left: 10px;
  justify-self: flex-start;
}

.dark-mode button {
  position: absolute;
  right: 10px;
  justify-self: flex-end;
  background-color: #ffffff;
}

.dark-mode img {
  width: 30px;
  height: 30px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  gap: 10px;
}

button {
  /* display: inline-block; */
  outline: 0;
  cursor: pointer;
  /* border: 2px solid #000; */
  border-radius: 18px;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #0e1011;
  font-size: 15px;
  font-weight: 600;
  /* line-height: 28px; */
  padding: 10px 2px;
  margin: 10px;
  text-align: center;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  color: #0e1011;
  background: #fff;
}

.about-me h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
}

h1,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #0e1011;
}

.about-me h2 {
  text-align: center;
  font-size: 30px;
}

#avatar {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 50%;
}

.hero-devices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  width: 900px;
  margin: 0 auto;
}

.intro {
  background-color: #6e07f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 16rem;
}
.intro h1 {
  padding-top: 20px;
  color: #fff;
}

.intro p {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 700px;
  word-wrap: break-word;
}

.skills {
  display: flex;
  background-color: #fff;
  justify-content: center;
  flex: auto;
  align-items: center;
  position: relative;
  margin-top: -40px;
  /* flex-wrap: wrap; */
}

.skills h2 {
  color: black;
}

.skills div {
  margin-top: -80px;
  border: #e0c8ff solid 0.5px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);
}

ul {
  padding: 20px;
  font-size: 18px;
  list-style-type: none;
}

.skills div p {
  /* max-width: 100px; */
  padding: 20px;
  font-size: 18px;
}

.skills img {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.skills div span {
  color: #6e07f3;
  font-size: 18px;
  padding-top: 20px;
}

#designer-panel {
  margin-left: 40px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#front-end-panel {
}

#designer-panel,
#mentor-panel,
#front-end-panel {
  min-height: 800px;
}

#mentor-panel {
  margin-right: 40px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.recent-work {
  padding-top: 50px;
  text-align: center;
}
.recent-work p {
  text-align: center;
  padding-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}

.work {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.work-item {
  box-shadow: #0e1011 0px 0px 4px;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #4b1c85;
  justify-content: center;
  align-items: center;
  box-shadow: #303030 0px 0px 7px;
  border: #303030 solid 0.5px;
}

.work-item:hover {
  background-color: #7a5c97;
  color: #543e58;
  border: #0e1011 solid 0.5px;
  transition: all 0.07s cubic-bezier(0.4, 0, 0.2, 1);
}
